<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Diagnosis</title>
    <style>
        body {
            background-color: #f0f0f0;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <script>
        function createDiagnose(event) {
            event.preventDefault();

            var userEmailDropdown = document.getElementById("user");
            var selectedUserEmail = userEmailDropdown.options[userEmailDropdown.selectedIndex].text;

            var diseaseDropdown = document.getElementById("disease");
            var selectedDiseaseName = diseaseDropdown.options[diseaseDropdown.selectedIndex].text;

            var errorMessage = document.getElementById("errorMessage");

            errorMessage.textContent = "";

            fetch("/new/diagnose/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email: selectedUserEmail, diseaseName: selectedDiseaseName })
            })
                .then(response => {
                    if (response.status === 200) {
                        window.location.href = "/diagnosis";
                    } else if (response.status === 409) {
                        errorMessage.textContent = "The diagnose already exists";
                    } else {
                        errorMessage.textContent = "Unexpected error occurred";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    errorMessage.textContent = "Unexpected error occurred";
                });
        }

    </script>
</head>
<body>
<form action="/" method="get">
    <button type="submit">Logout</button>
</form>
<form action="/diagnosis" method="get">
    <button type="submit">Back to Diagnosis</button>
</form>
<h2>Select User and Disease</h2>
<form>
    <label for="user">Select Patient:</label>
    <select id="user" name="user">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
    </select>
    <br>
    <label for="disease">Select Disease:</label>
    <select id="disease" name="disease">
        <option th:each="disease : ${diseases}" th:value="${disease.id}" th:text="${disease.name}"></option>
    </select>
    <br>
    <button type="submit" onclick="createDiagnose(event)">Create Diagnose</button>
</form>
<div id="errorMessage" style="color: red;"></div>
</body>
</html>
