<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <style>
        body {
            background-color: #f0f0f0;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <script>
        function register() {
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var password = document.getElementById("password").value;
            var email = document.getElementById("email").value;
            var phoneNumber = document.getElementById("phoneNumber").value;
            var personalNumber = document.getElementById("personalNumber").value;
            var isDoctor = document.getElementById("isDoctor").checked;

            var formData = {
                firstName: firstName,
                lastName: lastName,
                password: password,
                email: email,
                phoneNumber: phoneNumber,
                personalNumber: personalNumber,
                isDoctor: isDoctor
            };

            fetch("/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (response.ok) {
                        console.log("Registration successful");
                        fetch("/", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                    } else {
                        console.error("Registration failed");
                        message.textContent = "One or more fields are with invalid value";
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    message.textContent = "An error has occurred";
                });
        }
    </script>
</head>
<body>
<h2>User Registration</h2>
<form>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName"  required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" required><br>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" required><br>

    <label for="personalNumber">Personal Number:</label>
    <input type="text" id="personalNumber" required><br>

    <label for="isDoctor">Are you a doctor?</label>
    <input type="checkbox" id="isDoctor"><br>

    <button type="submit" onclick="register()">Register</button>
</form>
<form action="/" method="get">
    <button type="submit">Return to login page</button>
</form>

<div id="message" style="color: red;"></div>
</body>
</html>
